@import url('http://fonts.googleapis.com/css?family=Roboto+Slab');
{
    padding: 0;
    margin: 0;
}
body{
    background: #d4d8d4;
    font-size: 10px;
    font-family: 'Roboto Slab', sans-serif;
}

h2{
    padding: 0;
    margin: 0 0 4px 0;
    font-size: 16pt;
    font-family: 'Roboto Slab', sans-serif;
    color: #433e90;
}
p{
    color:  #433e90;
    font-size: 14pt;
    font-family: 'Roboto Slab', sans-serif;

    padding: 0;
    margin: 0;
}

#translation{
    position: absolute;
    left: 15px;
    width: 300px;
    bottom:128px;
    background: #d2d2d2;
    color: #FFEB3B;
    padding: 15px;
    box-shadow: 0 0 10px #999;
    z-index: 99;
    font-family: 'Roboto Slab', sans-serif;
}
#translation > p{
    color: #433e90;
    font-family: 'Roboto Slab', sans-serif;
}

#options{
    position: absolute;
    left:15px;
    bottom: 15px;
    background: #d2d2d2;
    width: 300px;
    padding: 15px;
    color: #433e90;
    box-shadow: 0 0 10px #999;
    z-index: 99;
    font-family: 'Roboto Slab', sans-serif;
}

#options > p{
    color:#433e90;
    font-size: 12pt;
    font-family: 'Roboto Slab', sans-serif;
}

input[type='checkbox']{
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
    color: #433e90;
}

button{
    width: 250px;
    padding: 3px;
    line-height: 1.5;
    margin-top: 4px;
    font-family: 'Roboto Slab', sans-serif;
      color: #433e90;
}

span,p{ font-size: 12pt; color: #433e90; margin-top: 15px; font-family: 'Roboto Slab', sans-serif; }
span > p{ display: inline-block; margin-top-top: 15px; font-family: 'Roboto Slab', sans-serif;}